<div class="mp3_player_container container-fluid">
    <img src="assets/spotify.png" width="200" height="auto" style="display: block; margin: 60px auto;" />
    <div class="mp3-player-card">
        
        <div class="three-body">
            <div class="three-body__dot"></div>
            <div class="three-body__dot"></div>
            <div class="three-body__dot"></div>
        </div>


        <audio controls>
            <source src="assets/Bliss.mp3" type="audio/mpeg"/>
          </audio>          
    </div>
</div>