<!-- signup.component.html -->

<div class="signup_container">
  <img src="assets/Spotify_green.png" width="200" height="60" style="display: block; margin: 60px auto;" />    
    <hr>
  <h2>Create an Account</h2><br/>
  <div>
    <label><strong>Email address</strong></label><br/>
    <input type="text" placeholder="Enter your email address" />
  </div>
  <div>
    <label><strong>Password</strong></label><br/>
    <input type="password" placeholder="Enter your password" /><br/>
  </div>
  <div>
    <label><strong>Confirm Password</strong></label><br/>
    <input type="password" placeholder="Confirm your password" /><br/>
  </div><br/>
  <button class="signup_btn">SIGN UP</button>
  <p>Already have an account? <a (click)="onNavigateToLogin()">Log In</a></p>
</div>
