<div class="spotify_top_nav">
    <div class="spotify_home-container_side-bar-items">
        <img (click)="onNavigateToIndex()"
        width="150"
        class="m-3 text-left imghome" 
        src="assets/Spotify_light.png" 
        alt="spotify liht logo" />
    </div>
    <div class="spotify_top_nav_focus-title">Focus
        <input *ngIf ="isSearchVisible" class="search_playlist" type="search" placeholder="What do you want to listen to ?"/></div>
        <div class="spotify_top_nav_focus-auth">
        <div class="spotify_top_nav_focus-auth_sign-up" (click)="onNavigateToReg()">Sign Up</div>
        <div class="spotify_top_nav_focus-auth_login" (click)="onNavigateToLogin()">Log In</div>
    </div>
</div>